*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* content */

.container{
  width: 100%;
}

.container-section{
  margin: 0 auto;
  max-width: 1200px;
}

.row{
  display: flex;
}

.col30{
  width: 30%;
}

.col32{
  width: 32%;
}

.col70{
  width: 70%;
}

.discover{

}

button{
  padding: 10px;
  border: none;
}

.background{
  position: relative;
}

/* utility */

.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.justify-left{
  display: flex;
  justify-content: left;
}

.justify-right{
  display: flex;
  justify-content: right;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.inline{
  display: inline;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.display-column{
  display: flex;
  flex-direction: column;
}

.flex-start{
  justify-content: flex-start;
}


.gap{
  gap: 20px;
}

.size{
  font-size: 40px;
}

.border-black{
  border: solid black 1px;
}

.bg-gold{
  background-color: gold;
  color: purple;
  height: 500px;
  border: solid purple 3px;
}

.bg-white{
  background-color: white;
}

.bg-blue{
  background-color: #0061fe;
}

.bg-cyan{
  background-color: #b4d0e6;
}

.white{
  color: white;
}

.grey{
  color: grey;
}

.border-purple{
  border: solid 2px purple;
}


.padding15{
  padding: 15px;
}

.padding-top100{
  padding-top: 100px;
}

.padding-right10{
  padding-right: 10px;
}

.margin-top30{
  margin-top: 30px;
}

.margin-bottom100{
  margin-bottom: 100px;
}

.margin-left30{
  margin-left: 30px;
}

.margin-left50{
  margin-left: 50px;
}


.margin-right30{
  margin-right: 30px;
}

/* layout */

header{
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}

.header-left{
  align-items: center;
}

.header-right{
  align-items: center;
}

.header-left ul li{
  list-style: none;
  padding-left: 15px;
}

.header-right ul li{
  list-style: none;
  padding-right: 15px;
}

.jumbo{
  max-width: 100%;
}

h1{
  font-size: 65px;
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
}

li{
  list-style: none;
}

.padding15> li {
  padding: 15px;
}